@page "/"
@using CommunityToolkit.Mvvm.Messaging
@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
@message;
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

@code{

    string message { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        WeakReferenceMessenger.Default.Register<TestMessage>(this, (r, m) =>
        {
            InvokeAsync(() =>
            {
                Console.WriteLine("Received");
                message = m.Value;
                StateHasChanged();
            });
        });
    }

    public void Dispose()
    {
        WeakReferenceMessenger.Default.Unregister<TestMessage>(this);
    }
}
